<p style="color: green"><%= notice %></p>

<h1>Items</h1>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>


      <embed src=<%= item.get_url %> width="500" height="375">
      <%= item.item %>

    </p>
  <% end %>
</div>

<%= link_to "New item", new_item_path %>
