<p style="color: green"><%= notice %></p>
<% content_for :title, "Items" %>

<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <p>


      <embed src=<%= item.get_url %> width="500" height="375">
      <p>
      <%= item.title %> - 
      <%= item.notes %>
      </p>

    </p>
  <% end %>
</div>
